<h1> Team Info: <%= @team.name %></h1>
 <p>Team Name: <%= @team.name %></p>
 <p>Have Won A World Series: <%= @team.world_series %></p>
 <p>Year founded: <%= @team.year_founded %></p>
 <p>Player Count: <%= @team.players.count %>